<a href="https://colab.research.google.com/github/assumption01/mikkyobe/blob/main/OneCampus_Python_project_11_09_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Enter the total number of students to record
StudentTotalNumber =int(input("Enter the Total Number Student for Recording: "))
newDict = []
allrec = []

for x in range(StudentTotalNumber):
    print("\n"+"\033[94m" +"New Student Entry"+ "\033[0m")
    studentName            = input("Enter the Student Full name: ")
    studentID              = input("Enter " + studentName + "'s ID: ")

    print("\n"+"\033[95m" + studentName + "'s Chemistry Scores" + "\033[0m")
    studentQuizChem        = int(input("Enter Chemistry Quiz score: "))
    studentHomeworkChem    = int(input("Enter Chemistry Homework scor4e: "))
    studentAttendChem      = int(input("Enter Chemistry Attendance Point: "))
    studentExamChem        = int(input("Enter Chemistry Exams score: "))

    print("\n"+"\033[92m" + studentName + "'s Biology Scores" + "\033[0m")
    studentQuizBio         = int(input("Enter Biology Quiz score: " ))
    studentHomeworkBio     = int(input("Enter Biology Homework score: " ))
    studentAttendBio       = int(input("Enter Biology Attendance Point: " ))
    studentExamBio         = int(input("Enter Biology Exams score: " ))

    print("\n"+"\033[94m" + studentName + "'s Physics Scores" + "\033[0m")
    studentQuizPhy         = int(input("Enter Physics Quiz score: " ))
    studentHomeworkPhy     = int(input("Enter Physics Homework score: " ))
    studentAttendPhy       = int(input("Enter Physics Attendance Point: " ))
    studentExamPhy         = int(input("Enter Physics Exams score: " ))

    print("\n"+"\033[91m" + studentName + "'s Mathematics Scores" + "\033[0m")
    studentQuizMath        = int(input("Enter Mathematics Quiz score: "))
    studentHomeworkMath    = int(input("Enter Mathematics Homework score: "))
    studentAttendMath      = int(input("Enter Mathematics Attendance Point: "))
    studentExamMath        = int(input("Enter Mathematics Exams score: "))

    # Generate Student Average for Each Subject
    chemAverage=(((studentQuizChem/190)*30) + ((studentHomeworkChem/190)*15) + ((studentAttendChem/96)*12) + ((studentExamChem/100)*43))
    bioAverage=(((studentQuizBio/190)*30) + ((studentHomeworkBio/190)*15) + ((studentAttendBio/96)*12) + ((studentExamBio/100)*43))
    phyAverage=(((studentQuizPhy/190)*30) + ((studentHomeworkPhy/190)*15) + ((studentAttendPhy/96)*12) + ((studentExamPhy/100)*43))
    mathAverage=(((studentQuizMath/190)*30) + ((studentHomeworkMath/190)*15) + ((studentAttendMath/96)*12) + ((studentExamMath/100)*43))

    #Student total Average Score
    AverageScores = ((bioAverage + chemAverage + phyAverage + mathAverage) /4)
    
    #Grading
    def grading(AverageScore):
      a="A"; b="B"; c="C"; d="D"; e="E"; f="F"
      if AverageScore >= 90:
        return a
      elif AverageScore < 90 and AverageScore>=75:
        return b
      elif AverageScore < 75 and AverageScore>=65:
        return c
      elif AverageScore < 65 and AverageScore>=55:
        return d
      elif AverageScore < 55 and AverageScore>=50:
        return e
      else:
        return f

    #Status
    def statuss(AverageScore):
        p="PASS"; r="RETAKE"; f1="FAIL"
        if AverageScore <= 100 and AverageScore>=55:
          return p
        elif AverageScore < 55 and AverageScore>=50:
          return r
        else:
          return f1
    grade = grading(AverageScores)
    status = statuss(AverageScores)

    #GPA 
    GPA = ((AverageScores/100) * 5)


#Automatically computed values
    AutoRecords = {"Name": studentName,
                 "ID": studentID, 
                 "Score": AverageScores,
                 "GPA": GPA,
                 "Grade": grade,
                 "Status": status}

# Each studentâ€™s performance records 
    studentRecords = {"Name": studentName,
                 "ID": studentID, 
                 "Quiz": {"Chemistry": studentQuizChem, 
                                      "Biology": studentQuizBio, 
                                      "Physics": studentQuizPhy,
                                      "Maths": studentQuizMath},
                 "Homework": {"Chemistry": studentHomeworkChem, 
                                      "Biology": studentHomeworkBio, 
                                      "Physics": studentHomeworkPhy,
                                      "Maths": studentHomeworkMath},
                 "Attendance": {"Chemistry": studentAttendChem, 
                                      "Biology": studentAttendBio, 
                                      "Physics": studentAttendPhy,
                                      "Maths": studentAttendMath},
                 "Exams": {"Chemistry": studentExamChem, 
                                      "Biology": studentExamBio, 
                                      "Physics": studentExamPhy,
                                      "Maths": studentExamMath}}

  #Each subject performance records for all students
    subjectsRecord = {"Name": studentName,
                 "ID": studentID,
                 "Chemistry": {"Quiz": studentQuizChem, 
                                      "Homework": studentHomeworkChem, 
                                      "Attendance": studentAttendChem,
                                      "Exams": studentExamChem,
                                      "AverageScore": chemAverage},
                 "Biology": {"Quiz": studentQuizBio, 
                                      "Homework": studentHomeworkBio, 
                                      "Attendance": studentAttendBio,
                                      "Exams": studentExamBio,
                                      "AverageScore": bioAverage},
                 "Physics": {"Quiz": studentQuizPhy, 
                                      "Homework": studentHomeworkPhy, 
                                      "Attendance": studentAttendPhy,
                                      "Exams": studentExamPhy,
                                      "AverageScore": phyAverage},
                 "Mathematics": {"Quiz": studentQuizMath, 
                                      "Homework": studentHomeworkMath, 
                                      "Attendance": studentAttendMath,
                                      "Exams": studentExamMath,
                                      "AverageScore": mathAverage}}

    newDict.append(subjectsRecord)

#All Students Records
    allRecords = {"Name": studentName,
                 "ID": studentID, 
                 "Chem Quiz": studentQuizChem, "Bio Quiz": studentQuizBio, "Phy Quiz": studentQuizPhy, "Math Quiz": studentQuizMath,
                 "Chem HW": studentHomeworkChem, "Bio HW": studentHomeworkBio, "Phy HW": studentHomeworkPhy, "Math HW": studentHomeworkMath,
                 "Chem Attnd": studentAttendChem, "Bio Attnd": studentAttendBio, "Phy Attnd": studentAttendPhy, "Math Attnd": studentAttendMath,
                 "Chem Exam": studentExamChem, "Bio Exam": studentExamBio, "Phy Exam": studentExamPhy,"Math Exam": studentExamMath,
                 "Chem AVG": chemAverage,
                 "Bio AVG": bioAverage,
                 "Phy AVG": phyAverage,
                 "Math AVG": mathAverage,                
                 "Avg Score": AverageScores,
                 "GPA": GPA,
                 "Grade": grade,
                 "Status": status}
allrec.append(allRecords)


print("\n"+"\033[91m" +"Student Records"+ "\033[0m")
print(studentRecords)

print("\n"+"\033[92m" +"Records of Subjects for all Student"+ "\033[0m")
print(newDict)

print("\n"+"\033[94m" +"Auto generated Grades for Each student"+ "\033[0m")
print(AutoRecords)

print("\n"+"\033[92m" +"All student record"+ "\033[0m")
print(allrec)

Enter the Total Number Student for Recording: 1

New Student Entry
Enter the Student Full name: Yusuf Yusuf
Enter Yusuf Yusuf's ID: GR-0484

Yusuf Yusuf's Chemistry Scores
Enter Chemistry Quiz score: 141
Enter Chemistry Homework scor4e: 82
Enter Chemistry Attendance Point: 95
Enter Chemistry Exams score: 52

Yusuf Yusuf's Biology Scores
Enter Biology Quiz score: 177
Enter Biology Homework score: 170
Enter Biology Attendance Point: 57
Enter Biology Exams score: 41

Yusuf Yusuf's Physics Scores
Enter Physics Quiz score: 52
Enter Physics Homework score: 12
Enter Physics Attendance Point: 43
Enter Physics Exams score: 31

Yusuf Yusuf's Mathematics Scores
Enter Mathematics Quiz score: 136
Enter Mathematics Homework score: 180
Enter Mathematics Attendance Point: 48
Enter Mathematics Exams score: 31

Student Records
{'Name': 'Yusuf Yusuf', 'ID': 'GR-0484', 'Quiz': {'Chemistry': 141, 'Biology': 177, 'Physics': 52, 'Maths': 136}, 'Homework': {'Chemistry': 82, 'Biology': 170, 'Physics': 12, 'Maths': 180}, 'Attendance': {'Chemistry': 95, 'Biology': 57, 'Physics': 43, 'Maths': 48}, 'Exams': {'Chemistry': 52, 'Biology': 41, 'Physics': 31, 'Maths': 31}}

Records of Subjects for all Student
[{'Name': 'Yusuf Yusuf', 'ID': 'GR-0484', 'Chemistry': {'Quiz': 141, 'Homework': 82, 'Attendance': 95, 'Exams': 52, 'AverageScore': 62.97184210526316}, 'Biology': {'Quiz': 177, 'Homework': 170, 'Attendance': 57, 'Exams': 41, 'AverageScore': 66.12342105263157}, 'Physics': {'Quiz': 52, 'Homework': 12, 'Attendance': 43, 'Exams': 31, 'AverageScore': 27.862894736842108}, 'Mathematics': {'Quiz': 136, 'Homework': 180, 'Attendance': 48, 'Exams': 31, 'AverageScore': 55.014210526315786}}]

Auto generated Grades for Each student
{'Name': 'Yusuf Yusuf', 'ID': 'GR-0484', 'Score': 52.99309210526315, 'GPA': 2.6496546052631578, 'Grade': 'E', 'Status': 'RETAKE'}

All student record
[{'Name': 'Yusuf Yusuf', 'ID': 'GR-0484', 'Chem Quiz': 141, 'Bio Quiz': 177, 'Phy Quiz': 52, 'Math Quiz': 136, 'Chem HW': 82, 'Bio HW': 170, 'Phy HW': 12, 'Math HW': 180, 'Chem Attnd': 95, 'Bio Attnd': 57, 'Phy Attnd': 43, 'Math Attnd': 48, 'Chem Exam': 52, 'Bio Exam': 41, 'Phy Exam': 31, 'Math Exam': 31, 'Chem AVG': 62.97184210526316, 'Bio AVG': 66.12342105263157, 'Phy AVG': 27.862894736842108, 'Math AVG': 55.014210526315786, 'Avg Score': 52.99309210526315, 'GPA': 2.6496546052631578, 'Grade': 'E', 'Status': 'RETAKE'}]

In [ ]:
#The Pandas dataframe 
import pandas as pd

#Generate report
df = pd.DataFrame.from_dict(allrec)

In [ ]:
df

,Name,ID,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem HW,Bio HW,Phy HW,Math HW,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,GPA,Grade,Status
0,Yusuf Yusuf,GR-0484,141,177,52,136,82,170,12,180,...,31,31,62.971842,66.123421,27.862895,55.014211,52.993092,2.649655,E,RETAKE

In [ ]:
#	The full performance records of any student by simply providing the studentâ€™s name or ID
df[df['ID']=='GR-0484']

,Name,ID,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem HW,Bio HW,Phy HW,Math HW,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,GPA,Grade,Status
0,Yusuf Yusuf,GR-0484,141,177,52,136,82,170,12,180,...,31,31,62.971842,66.123421,27.862895,55.014211,52.993092,2.649655,E,RETAKE

In [ ]:
#Fetch the list of students in any of the grade categories (A, B, C, D, E, F)  
df[df['Grade']=='E'] #You can change the 'E' grade to another grade and rerun

,Name,ID,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem HW,Bio HW,Phy HW,Math HW,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,GPA,Grade,Status
0,Yusuf Yusuf,GR-0484,141,177,52,136,82,170,12,180,...,31,31,62.971842,66.123421,27.862895,55.014211,52.993092,2.649655,E,RETAKE

In [ ]:
#Fetch the list of students Statuses (Pass, Fail, Retake)
df[df['Status']=='RETAKE'] #You can change the 'FAIL' status to another status and rerun

,Name,ID,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem HW,Bio HW,Phy HW,Math HW,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,GPA,Grade,Status
0,Yusuf Yusuf,GR-0484,141,177,52,136,82,170,12,180,...,31,31,62.971842,66.123421,27.862895,55.014211,52.993092,2.649655,E,RETAKE

In [ ]:
# determining the name of the file
file_name = 'OneCampusCohort16.xlsx'
  
# saving the excel
df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.